{% load static %}
<body>
	<div class="wrapper">
		<main>
			<section class="favorits">
				<div class="favorits__container">
					<div class="favorits__wrapper">
						<div class="favorits__label">Selecionado</div>
						<h1 class="favorits__title">Minha lista de desejos</h1>
					</div>
				</div>
				<div class="favorits__bg">
					<div class="favorits__bg--pc">
						<picture><source srcset="img/main/main-favorits.webp" type="image/webp"><img src="img/main/main-favorits.jpg" alt=""></picture>
					</div>
				</div>
			</section>
			<section class="favorits-list">
				<div class="favorits-list__container">
					<div class="favorits-list__wrapper">
						<div class="favorits-list__product product__slide">
							<div class="product__row">
								<button type="button" class="product__favorite _icon-favorite-1 active"></button>
							</div>
							<a href="" class="product__image--wrap">
								<div class="product__image product__image--show lazy_image">
									<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
								</div>
								<div class="product__image product__image--hover lazy_image">
									<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
								</div>
							</a>
							<div class="product__content">
								<div class="product__wrap">
									<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
								</div>
								<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
								<div class="product__copy">
									<div class="product__code--wrap">
										<div class="product__code--text">Código do produto:</div>
										<div class="product__code"> S-2350135</div>
									</div>
									<button type="button" class="product__icon _icon-copy"></button>
								</div>
								<a href="" class="product__rating product-rating">
									<div class="product-rating__block">
										<div class="product-rating__star _icon-star-1"></div>
										<div class="product-rating__star _icon-star-1"></div>
										<div class="product-rating__star _icon-star-1"></div>
										<div class="product-rating__star _icon-star-1"></div>
										<div class="product-rating__star hide _icon-star-1"></div>
									</div>
									<div class="product-rating__icon _icon-comment"><span>8</span></div>
								</a>
								<div class="product__price--wrap">
									<div class="product__price--old">R$ 616,69</div>
									<div class="product__price">R$ 461,36</div>
								</div>
							</div>
							<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
						</div>
						<div class="favorits-list__product product__slide">
							<div class="product__row">
								<button type="button" class="product__favorite _icon-favorite-1 active"></button>
							</div>
							<a href="" class="product__image--wrap">
								<div class="product__image product__image--show lazy_image">
									<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
								</div>
								<div class="product__image product__image--hover lazy_image">
									<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
								</div>
							</a>
							<div class="product__content">
								<div class="product__wrap">
									<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
								</div>
								<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
								<div class="product__copy">
									<div class="product__code--wrap">
										<div class="product__code--text">Código do produto:</div>
										<div class="product__code"> S-2350135</div>
									</div>
									<button type="button" class="product__icon _icon-copy"></button>
								</div>
								<a href="" class="product__rating product-rating">
									<div class="product-rating__block">
										<div class="product-rating__star _icon-star-1"></div>
										<div class="product-rating__star _icon-star-1"></div>
										<div class="product-rating__star _icon-star-1"></div>
										<div class="product-rating__star _icon-star-1"></div>
										<div class="product-rating__star hide _icon-star-1"></div>
									</div>
									<div class="product-rating__icon _icon-comment"><span>8</span></div>
								</a>
								<div class="product__price--wrap">
									<div class="product__price--old">R$ 616,69</div>
									<div class="product__price">R$ 461,36</div>
								</div>
							</div>
							<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
						</div>
						<div class="favorits-list__product product__slide">
							<div class="product__row">
								<button type="button" class="product__favorite _icon-favorite-1 active"></button>
							</div>
							<a href="" class="product__image--wrap">
								<div class="product__image product__image--show lazy_image">
									<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
								</div>
								<div class="product__image product__image--hover lazy_image">
									<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
								</div>
							</a>
							<div class="product__content">
								<div class="product__wrap">
									<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
								</div>
								<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
								<div class="product__copy">
									<div class="product__code--wrap">
										<div class="product__code--text">Código do produto:</div>
										<div class="product__code"> S-2350135</div>
									</div>
									<button type="button" class="product__icon _icon-copy"></button>
								</div>
								<a href="" class="product__rating product-rating">
									<div class="product-rating__block">
										<div class="product-rating__star _icon-star-1"></div>
										<div class="product-rating__star _icon-star-1"></div>
										<div class="product-rating__star _icon-star-1"></div>
										<div class="product-rating__star _icon-star-1"></div>
										<div class="product-rating__star hide _icon-star-1"></div>
									</div>
									<div class="product-rating__icon _icon-comment"><span>8</span></div>
								</a>
								<div class="product__price--wrap">
									<div class="product__price--old">R$ 616,69</div>
									<div class="product__price">R$ 461,36</div>
								</div>
							</div>
							<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
						</div>
					</div>
				</div>
			</section>
			<section class="product product--page">
				<div class="product__container">
					<div class="product__slider swiper">
						<div class="product__top">
							<h3 class="product__title--top">Produtos recomendados</h3>
							<div class="product__block">
								<a href="" class="product__link">Ver tudo</a>
								<button type="button" class="product__swiper-button product__swiper-button-prev _icon-arrow_btn"></button>
								<button type="button" class="product__swiper-button product__swiper-button-next _icon-arrow_btn"></button>
							</div>
						</div>
						<div class="product__wrapper swiper-wrapper">
							<div class="product__slide swiper-slide">
								<div class="product__row">
									<button type="button" class="product__favorite _icon-favorite-1"></button>
								</div>
								<a href="" class="product__image--wrap">
									<div class="product__image product__image--show lazy_image">
										<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
									</div>
									<div class="product__image product__image--hover lazy_image">
										<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
									</div>
								</a>
								<div class="product__content">
									<div class="product__wrap">
										<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
									</div>
									<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
									<div class="product__copy">
										<div class="product__code--wrap">
											<div class="product__code--text">Código do produto:</div>
											<div class="product__code"> S-2350135</div>
										</div>
										<button type="button" class="product__icon _icon-copy"></button>
									</div>
									<a href="" class="product__rating product-rating">
										<div class="product-rating__block">
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star hide _icon-star-1"></div>
										</div>
										<div class="product-rating__icon _icon-comment"><span>8</span></div>
									</a>
									<div class="product__price--wrap">
										<div class="product__price--old">R$ 616,69</div>
										<div class="product__price">R$ 461,36</div>
									</div>
								</div>
								<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
							</div>
							<div class="product__slide swiper-slide">
								<div class="product__row">
									<button type="button" class="product__favorite _icon-favorite-1"></button>
								</div>
								<a href="" class="product__image--wrap">
									<div class="product__image product__image--show lazy_image">
										<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
									</div>
									<div class="product__image product__image--hover lazy_image">
										<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
									</div>
								</a>
								<div class="product__content">
									<div class="product__wrap">
										<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
									</div>
									<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
									<div class="product__copy">
										<div class="product__code--wrap">
											<div class="product__code--text">Código do produto:</div>
											<div class="product__code"> S-2350135</div>
										</div>
										<button type="button" class="product__icon _icon-copy"></button>
									</div>
									<a href="" class="product__rating product-rating">
										<div class="product-rating__block">
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star hide _icon-star-1"></div>
										</div>
										<div class="product-rating__icon _icon-comment"><span>8</span></div>
									</a>
									<div class="product__price--wrap">
										<div class="product__price--old">R$ 616,69</div>
										<div class="product__price">R$ 461,36</div>
									</div>
								</div>
								<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
							</div>
							<div class="product__slide swiper-slide">
								<div class="product__row">
									<button type="button" class="product__favorite _icon-favorite-1"></button>
								</div>
								<a href="" class="product__image--wrap">
									<div class="product__image product__image--show lazy_image">
										<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
									</div>
									<div class="product__image product__image--hover lazy_image">
										<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
									</div>
								</a>
								<div class="product__content">
									<div class="product__wrap">
										<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
									</div>
									<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
									<div class="product__copy">
										<div class="product__code--wrap">
											<div class="product__code--text">Código do produto:</div>
											<div class="product__code"> S-2350135</div>
										</div>
										<button type="button" class="product__icon _icon-copy"></button>
									</div>
									<a href="" class="product__rating product-rating">
										<div class="product-rating__block">
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star hide _icon-star-1"></div>
										</div>
										<div class="product-rating__icon _icon-comment"><span>8</span></div>
									</a>
									<div class="product__price--wrap">
										<div class="product__price--old">R$ 616,69</div>
										<div class="product__price">R$ 461,36</div>
									</div>
								</div>
								<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
							</div>
							<div class="product__slide swiper-slide">
								<div class="product__row">
									<button type="button" class="product__favorite _icon-favorite-1"></button>
								</div>
								<a href="" class="product__image--wrap">
									<div class="product__image product__image--show lazy_image">
										<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
									</div>
									<div class="product__image product__image--hover lazy_image">
										<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
									</div>
								</a>
								<div class="product__content">
									<div class="product__wrap">
										<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
									</div>
									<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
									<div class="product__copy">
										<div class="product__code--wrap">
											<div class="product__code--text">Código do produto:</div>
											<div class="product__code"> S-2350135</div>
										</div>
										<button type="button" class="product__icon _icon-copy"></button>
									</div>
									<a href="" class="product__rating product-rating">
										<div class="product-rating__block">
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star hide _icon-star-1"></div>
										</div>
										<div class="product-rating__icon _icon-comment"><span>8</span></div>
									</a>
									<div class="product__price--wrap">
										<div class="product__price--old">R$ 616,69</div>
										<div class="product__price">R$ 461,36</div>
									</div>
								</div>
								<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
							</div>
							<div class="product__slide swiper-slide">
								<div class="product__row">
									<button type="button" class="product__favorite _icon-favorite-1"></button>
								</div>
								<a href="" class="product__image--wrap">
									<div class="product__image product__image--show lazy_image">
										<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
									</div>
									<div class="product__image product__image--hover lazy_image">
										<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
									</div>
								</a>
								<div class="product__content">
									<div class="product__wrap">
										<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
									</div>
									<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
									<div class="product__copy">
										<div class="product__code--wrap">
											<div class="product__code--text">Código do produto:</div>
											<div class="product__code"> S-2350135</div>
										</div>
										<button type="button" class="product__icon _icon-copy"></button>
									</div>
									<a href="" class="product__rating product-rating">
										<div class="product-rating__block">
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star hide _icon-star-1"></div>
										</div>
										<div class="product-rating__icon _icon-comment"><span>8</span></div>
									</a>
									<div class="product__price--wrap">
										<div class="product__price--old">R$ 616,69</div>
										<div class="product__price">R$ 461,36</div>
									</div>
								</div>
								<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
							</div>
							<div class="product__slide swiper-slide">
								<div class="product__row">
									<button type="button" class="product__favorite _icon-favorite-1"></button>
								</div>
								<a href="" class="product__image--wrap">
									<div class="product__image product__image--show lazy_image">
										<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
									</div>
									<div class="product__image product__image--hover lazy_image">
										<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
									</div>
								</a>
								<div class="product__content">
									<div class="product__wrap">
										<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
									</div>
									<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
									<div class="product__copy">
										<div class="product__code--wrap">
											<div class="product__code--text">Código do produto:</div>
											<div class="product__code"> S-2350135</div>
										</div>
										<button type="button" class="product__icon _icon-copy"></button>
									</div>
									<a href="" class="product__rating product-rating">
										<div class="product-rating__block">
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star hide _icon-star-1"></div>
										</div>
										<div class="product-rating__icon _icon-comment"><span>8</span></div>
									</a>
									<div class="product__price--wrap">
										<div class="product__price--old">R$ 616,69</div>
										<div class="product__price">R$ 461,36</div>
									</div>
								</div>
								<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
							</div>
							<div class="product__slide swiper-slide">
								<div class="product__row">
									<button type="button" class="product__favorite _icon-favorite-1"></button>
								</div>
								<a href="" class="product__image--wrap">
									<div class="product__image product__image--show lazy_image">
										<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
									</div>
									<div class="product__image product__image--hover lazy_image">
										<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
									</div>
								</a>
								<div class="product__content">
									<div class="product__wrap">
										<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
									</div>
									<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
									<div class="product__copy">
										<div class="product__code--wrap">
											<div class="product__code--text">Código do produto:</div>
											<div class="product__code"> S-2350135</div>
										</div>
										<button type="button" class="product__icon _icon-copy"></button>
									</div>
									<a href="" class="product__rating product-rating">
										<div class="product-rating__block">
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star hide _icon-star-1"></div>
										</div>
										<div class="product-rating__icon _icon-comment"><span>8</span></div>
									</a>
									<div class="product__price--wrap">
										<div class="product__price--old">R$ 616,69</div>
										<div class="product__price">R$ 461,36</div>
									</div>
								</div>
								<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
							</div>
							<div class="product__slide swiper-slide">
								<div class="product__row">
									<button type="button" class="product__favorite _icon-favorite-1"></button>
								</div>
								<a href="" class="product__image--wrap">
									<div class="product__image product__image--show lazy_image">
										<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
									</div>
									<div class="product__image product__image--hover lazy_image">
										<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
									</div>
								</a>
								<div class="product__content">
									<div class="product__wrap">
										<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
									</div>
									<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
									<div class="product__copy">
										<div class="product__code--wrap">
											<div class="product__code--text">Código do produto:</div>
											<div class="product__code"> S-2350135</div>
										</div>
										<button type="button" class="product__icon _icon-copy"></button>
									</div>
									<a href="" class="product__rating product-rating">
										<div class="product-rating__block">
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star hide _icon-star-1"></div>
										</div>
										<div class="product-rating__icon _icon-comment"><span>8</span></div>
									</a>
									<div class="product__price--wrap">
										<div class="product__price--old">R$ 616,69</div>
										<div class="product__price">R$ 461,36</div>
									</div>
								</div>
								<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
							</div>
							<div class="product__slide swiper-slide">
								<div class="product__row">
									<button type="button" class="product__favorite _icon-favorite-1"></button>
								</div>
								<a href="" class="product__image--wrap">
									<div class="product__image product__image--show lazy_image">
										<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
									</div>
									<div class="product__image product__image--hover lazy_image">
										<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
									</div>
								</a>
								<div class="product__content">
									<div class="product__wrap">
										<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
									</div>
									<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
									<div class="product__copy">
										<div class="product__code--wrap">
											<div class="product__code--text">Código do produto:</div>
											<div class="product__code"> S-2350135</div>
										</div>
										<button type="button" class="product__icon _icon-copy"></button>
									</div>
									<a href="" class="product__rating product-rating">
										<div class="product-rating__block">
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star hide _icon-star-1"></div>
										</div>
										<div class="product-rating__icon _icon-comment"><span>8</span></div>
									</a>
									<div class="product__price--wrap">
										<div class="product__price--old">R$ 616,69</div>
										<div class="product__price">R$ 461,36</div>
									</div>
								</div>
								<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="product product--more">
				<div class="product__container">
					<div class="product__slider swiper">
						<div class="product__top">
							<h3 class="product__title--top">Produtos promocionais</h3>
							<div class="product__block">
								<a href="" class="product__link">Ver tudo</a>
								<button type="button" class="product__swiper-button product__swiper-button-prev _icon-arrow_btn"></button>
								<button type="button" class="product__swiper-button product__swiper-button-next _icon-arrow_btn"></button>
							</div>
						</div>
						<div class="product__wrapper swiper-wrapper">
							<div class="product__slide swiper-slide">
								<div class="product__row">
									<button type="button" class="product__favorite _icon-favorite-1"></button>
								</div>
								<a href="" class="product__image--wrap">
									<div class="product__image product__image--show lazy_image">
										<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
									</div>
									<div class="product__image product__image--hover lazy_image">
										<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
									</div>
								</a>
								<div class="product__content">
									<div class="product__wrap">
										<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
									</div>
									<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
									<div class="product__copy">
										<div class="product__code--wrap">
											<div class="product__code--text">Código do produto:</div>
											<div class="product__code"> S-2350135</div>
										</div>
										<button type="button" class="product__icon _icon-copy"></button>
									</div>
									<a href="" class="product__rating product-rating">
										<div class="product-rating__block">
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star hide _icon-star-1"></div>
										</div>
										<div class="product-rating__icon _icon-comment"><span>8</span></div>
									</a>
									<div class="product__price--wrap">
										<div class="product__price--old">R$ 616,69</div>
										<div class="product__price">R$ 461,36</div>
									</div>
								</div>
								<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
							</div>
							<div class="product__slide swiper-slide">
								<div class="product__row">
									<button type="button" class="product__favorite _icon-favorite-1"></button>
								</div>
								<a href="" class="product__image--wrap">
									<div class="product__image product__image--show lazy_image">
										<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
									</div>
									<div class="product__image product__image--hover lazy_image">
										<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
									</div>
								</a>
								<div class="product__content">
									<div class="product__wrap">
										<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
									</div>
									<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
									<div class="product__copy">
										<div class="product__code--wrap">
											<div class="product__code--text">Código do produto:</div>
											<div class="product__code"> S-2350135</div>
										</div>
										<button type="button" class="product__icon _icon-copy"></button>
									</div>
									<a href="" class="product__rating product-rating">
										<div class="product-rating__block">
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star hide _icon-star-1"></div>
										</div>
										<div class="product-rating__icon _icon-comment"><span>8</span></div>
									</a>
									<div class="product__price--wrap">
										<div class="product__price--old">R$ 616,69</div>
										<div class="product__price">R$ 461,36</div>
									</div>
								</div>
								<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
							</div>
							<div class="product__slide swiper-slide">
								<div class="product__row">
									<button type="button" class="product__favorite _icon-favorite-1"></button>
								</div>
								<a href="" class="product__image--wrap">
									<div class="product__image product__image--show lazy_image">
										<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
									</div>
									<div class="product__image product__image--hover lazy_image">
										<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
									</div>
								</a>
								<div class="product__content">
									<div class="product__wrap">
										<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
									</div>
									<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
									<div class="product__copy">
										<div class="product__code--wrap">
											<div class="product__code--text">Código do produto:</div>
											<div class="product__code"> S-2350135</div>
										</div>
										<button type="button" class="product__icon _icon-copy"></button>
									</div>
									<a href="" class="product__rating product-rating">
										<div class="product-rating__block">
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star hide _icon-star-1"></div>
										</div>
										<div class="product-rating__icon _icon-comment"><span>8</span></div>
									</a>
									<div class="product__price--wrap">
										<div class="product__price--old">R$ 616,69</div>
										<div class="product__price">R$ 461,36</div>
									</div>
								</div>
								<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
							</div>
							<div class="product__slide swiper-slide">
								<div class="product__row">
									<button type="button" class="product__favorite _icon-favorite-1"></button>
								</div>
								<a href="" class="product__image--wrap">
									<div class="product__image product__image--show lazy_image">
										<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
									</div>
									<div class="product__image product__image--hover lazy_image">
										<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
									</div>
								</a>
								<div class="product__content">
									<div class="product__wrap">
										<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
									</div>
									<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
									<div class="product__copy">
										<div class="product__code--wrap">
											<div class="product__code--text">Código do produto:</div>
											<div class="product__code"> S-2350135</div>
										</div>
										<button type="button" class="product__icon _icon-copy"></button>
									</div>
									<a href="" class="product__rating product-rating">
										<div class="product-rating__block">
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star hide _icon-star-1"></div>
										</div>
										<div class="product-rating__icon _icon-comment"><span>8</span></div>
									</a>
									<div class="product__price--wrap">
										<div class="product__price--old">R$ 616,69</div>
										<div class="product__price">R$ 461,36</div>
									</div>
								</div>
								<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
							</div>
							<div class="product__slide swiper-slide">
								<div class="product__row">
									<button type="button" class="product__favorite _icon-favorite-1"></button>
								</div>
								<a href="" class="product__image--wrap">
									<div class="product__image product__image--show lazy_image">
										<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
									</div>
									<div class="product__image product__image--hover lazy_image">
										<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
									</div>
								</a>
								<div class="product__content">
									<div class="product__wrap">
										<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
									</div>
									<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
									<div class="product__copy">
										<div class="product__code--wrap">
											<div class="product__code--text">Código do produto:</div>
											<div class="product__code"> S-2350135</div>
										</div>
										<button type="button" class="product__icon _icon-copy"></button>
									</div>
									<a href="" class="product__rating product-rating">
										<div class="product-rating__block">
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star hide _icon-star-1"></div>
										</div>
										<div class="product-rating__icon _icon-comment"><span>8</span></div>
									</a>
									<div class="product__price--wrap">
										<div class="product__price--old">R$ 616,69</div>
										<div class="product__price">R$ 461,36</div>
									</div>
								</div>
								<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
							</div>
							<div class="product__slide swiper-slide">
								<div class="product__row">
									<button type="button" class="product__favorite _icon-favorite-1"></button>
								</div>
								<a href="" class="product__image--wrap">
									<div class="product__image product__image--show lazy_image">
										<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
									</div>
									<div class="product__image product__image--hover lazy_image">
										<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
									</div>
								</a>
								<div class="product__content">
									<div class="product__wrap">
										<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
									</div>
									<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
									<div class="product__copy">
										<div class="product__code--wrap">
											<div class="product__code--text">Código do produto:</div>
											<div class="product__code"> S-2350135</div>
										</div>
										<button type="button" class="product__icon _icon-copy"></button>
									</div>
									<a href="" class="product__rating product-rating">
										<div class="product-rating__block">
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star hide _icon-star-1"></div>
										</div>
										<div class="product-rating__icon _icon-comment"><span>8</span></div>
									</a>
									<div class="product__price--wrap">
										<div class="product__price--old">R$ 616,69</div>
										<div class="product__price">R$ 461,36</div>
									</div>
								</div>
								<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
							</div>
							<div class="product__slide swiper-slide">
								<div class="product__row">
									<button type="button" class="product__favorite _icon-favorite-1"></button>
								</div>
								<a href="" class="product__image--wrap">
									<div class="product__image product__image--show lazy_image">
										<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
									</div>
									<div class="product__image product__image--hover lazy_image">
										<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
									</div>
								</a>
								<div class="product__content">
									<div class="product__wrap">
										<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
									</div>
									<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
									<div class="product__copy">
										<div class="product__code--wrap">
											<div class="product__code--text">Código do produto:</div>
											<div class="product__code"> S-2350135</div>
										</div>
										<button type="button" class="product__icon _icon-copy"></button>
									</div>
									<a href="" class="product__rating product-rating">
										<div class="product-rating__block">
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star hide _icon-star-1"></div>
										</div>
										<div class="product-rating__icon _icon-comment"><span>8</span></div>
									</a>
									<div class="product__price--wrap">
										<div class="product__price--old">R$ 616,69</div>
										<div class="product__price">R$ 461,36</div>
									</div>
								</div>
								<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
							</div>
							<div class="product__slide swiper-slide">
								<div class="product__row">
									<button type="button" class="product__favorite _icon-favorite-1"></button>
								</div>
								<a href="" class="product__image--wrap">
									<div class="product__image product__image--show lazy_image">
										<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
									</div>
									<div class="product__image product__image--hover lazy_image">
										<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
									</div>
								</a>
								<div class="product__content">
									<div class="product__wrap">
										<button type="button" class="product__add _icon-cart_01">Para a cesta</button>
									</div>
									<a href="" class="product__title">Massageador vibratório LELO Smart Wand 2 Grande</a>
									<div class="product__copy">
										<div class="product__code--wrap">
											<div class="product__code--text">Código do produto:</div>
											<div class="product__code"> S-2350135</div>
										</div>
										<button type="button" class="product__icon _icon-copy"></button>
									</div>
									<a href="" class="product__rating product-rating">
										<div class="product-rating__block">
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star _icon-star-1"></div>
											<div class="product-rating__star hide _icon-star-1"></div>
										</div>
										<div class="product-rating__icon _icon-comment"><span>8</span></div>
									</a>
									<div class="product__price--wrap">
										<div class="product__price--old">R$ 616,69</div>
										<div class="product__price">R$ 461,36</div>
									</div>
								</div>
								<button data-popup="#popup-quick-order" class="product__buy--btn">Compra rápida</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
</body>