{% load static %}

<body>
	<div class="wrapper">
		<main>
			<section class="contacts">
				<div class="contacts__container">
					<div class="contacts__wrapper">
						<div class="contacts__main">
							<div class="contacts__top">
								<div class="contacts__label">Contatos</div>
								<h1 class="contacts__title">Trabalhamos sem folga</h1>
								<div class="contacts__time">das 10h00 às 22h00</div>
							</div>
							<form action="" class="contacts__form form-contacts">
								<div class="form-contacts__icon _icon-phone-2"></div>
								<div class="form-contacts__info">Solicite uma chamada de volta</div>
								<div class="form-contacts__item">
									<div class="form-contacts__data">
										<input type="text" name="name-contacts" placeholder="Nome" class="form-contacts__input">
									</div>
									<div class="form-contacts__data">
										<input data-error="Este campo é obrigatório" type="number" name="phone-contacts" data-required="phone" data-validate placeholder="+55 __ _____-____" class="form-contacts__input phone-mask">
									</div>
								</div>
								<button type="submit" class="form-contacts__sent--btn">Enviar</button>
							</form>
						</div>
						<div class="contacts__socials socials">
							<div class="socials__item">
								<div class="socials__subtitle">Mensageiros para comunicação</div>
								<div class="socials__list">
									<a href="" class="socials__link">
										<span class="socials__icon"></span>
										<span class="socials__text">Telegram</span>
									</a>
									<a href="" class="socials__link">
										<span class="socials__icon"></span>
										<span class="socials__text">Viber</span>
									</a>
									<a href="" class="socials__link">
										<span class="socials__icon"></span>
										<span class="socials__text">WhatsApp</span>
									</a>
								</div>
							</div>
							<div class="socials__item">
								<div class="socials__subtitle">Nossas redes sociais</div>
								<div class="socials__list">
									<a href="" class="socials__link">
										<span class="socials__icon"></span>
										<span class="socials__text">Instagram</span>
									</a>
									<a href="" class="socials__link">
										<span class="socials__icon"></span>
										<span class="socials__text">Facebook</span>
									</a>
									<a href="" class="socials__link">
										<span class="socials__icon"></span>
										<span class="socials__text">Tiktok</span>
									</a>
									<a href="" class="socials__link">
										<span class="socials__icon"></span>
										<span class="socials__text">Youtube</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="info-socials">
				<div class="info-socials__container">
					<div class="info-socials__main">
						<a href="" data-popup="#popup-modal" class="info-socials__button"></a>
					</div>
				</div>
			</section>
			<section class="content">
                <div class="content__container">
                    <div data-simplebar class="content__wrapper">
                        <div class="content__body">
                            <p><strong>Nocturna - Elegância e Discrição no Universo Íntimo:</strong></p>
                            <p>Bem-vindo(a) à Nocturna, uma marca dedicada a proporcionar uma experiência sofisticada, discreta e segura no universo dos produtos íntimos. Nossa missão é oferecer uma seleção cuidadosamente curada, com foco na qualidade e no bem-estar dos nossos clientes. Com uma plataforma intuitiva e moderna, garantimos uma navegação sem complicações, priorizando sempre a privacidade e a segurança.</p>
                            <p>Na Nocturna, entendemos a importância de uma experiência de compra confidencial. Por isso, todos os nossos produtos são entregues em embalagens discretas, sem identificação externa, garantindo que você receba suas compras com total descrição e conforto. Nossa presença física em Ourinhos complementa nosso e-commerce, oferecendo um atendimento personalizado e um espaço seguro para você explorar os produtos com tranquilidade.

                                Privacidade, Confiança e Sofisticação: esses são os pilares que sustentam a Nocturna. Explore nossa seleção e descubra como podemos tornar seus momentos mais especiais..</p>
                        </div>
                    </div>
                </div>
            </section>
			<section class="block-info">
                <div class="block-info__container">
                    <div class="block-info__wrapper">
                        <div class="block-info__content">
                            <div class="block-info__time">Suporte das 10:00 a 21:00 </div>
                        </div>
                        <div class="">
                            <h2 class="block-info__title"> Precisa de ajuda? <br>Fale conosco pelo WhatsApp</h2>
                            <h3 class="">+55 (44) 91111-1111</h3>
                        </div>
                    </div>
                </div>
            </section>
		</main>
    </div>
</body>