{% load static %}

<form>
    <div>
        LOGIN
    </div>
    <div class="row">
        <div class="col">
            <label for="user_email">E-mail</label>
            <input type="email" id="user_email">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="user_password">Senha</label>
            <input type="password" id="user_password">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" onclick="login();">Entrar</button>
            <button type="button" class="btn btn-primary" onclick="gocreate();">Criar Conta?</button>
        </div>
    </div>
</form>




