{% load static %}

<form>
    <div>
        Conta
    </div>
    <div class="row">
        <div class="col">
            <label for="user_firstname">Nome</label>
            <input type="text" id="user_firstname" value="{{ user.first_name }}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="user_lastname">Sobrenome</label>
            <input type="text" id="user_lastname" value="{{ user.last_name }}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="user_borndate">Data de Nascimento</label>
            <input type="date" id="user_borndate" value="{{ user.born_date }}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="user_cpf">CPF</label>
            <input type="text" id="user_cpf">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="user_email">E-mail</label>
            <input type="email" id="user_email">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="user_username">Nome de Usuário</label>
            <input type="text" id="user_username">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="user_password">Senha</label>
            <input type="password" id="user_password">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" onclick="alter();">Alterar</button>
            <button type="button" class="btn btn-primary" onclick="delete();">Deletar</button>
            <button type="button" class="btn btn-primary" onclick="backhome();">Voltar</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p id="email">Oi</p>
        </div>
    </div>
</form>




