{% load static %}

<main class="d-flex justify-content-center align-content-center flex-wrap" style="width: 100vw; height: 100vh;">
    <div class="d-flex justify-content-center flex-wrap" style="background-color: #501c16; min-width: 70vw; min-height: 75vh; max-width: 30vw; max-height: 70vh; border-radius: 16px; box-shadow: 3px 3px 3px 3px #ad981d;">
        <div class="conteiner text-center" style="width: 80%; height: 80%;">
            <div class="row d-flex justify-content-center mt-5">
                <div class="col-auto">
                    <label style="font-size: 40px; color: #ffffff;">Dados da Conta</label>
                </div>
            </div>
            <form id="formId">
                <div class="row mt-1">
                    <div class="col d-flex justify-content-center">
                        <div class="form-outline col-sm-12 col-md-12">
                            <label class="form-label d-flex justify-content-left" for="user_email" style="color: #ffffff;">ID</label>
                            <input
                                class="form-control"
                                id="user_id"
                                type="number"
                                value="{{user.id}}"
                                disabled
                            />
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col d-flex justify-content-center">
                        <div class="form-outline col-sm-12 col-md-12">
                            <label class="form-label d-flex justify-content-left" for="user_email" style="color: #ffffff;">Nome</label>
                            <input
                                class="form-control"
                                id="user_first_name"
                                type="text"
                                value="{{user.first_name}}"
                                required
                            />
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col d-flex justify-content-center">
                        <div class="form-outline col-sm-12 col-md-12">
                            <label class="form-label d-flex justify-content-left" for="user_email" style="color: #ffffff;">Sobrenome</label>
                            <input
                                class="form-control"
                                id="user_last_name"
                                type="text"
                                value="{{user.last_name}}"
                                required
                            />
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col d-flex justify-content-center">
                        <div class="form-outline col-sm-12 col-md-12">
                            <label class="form-label d-flex justify-content-left" for="user_email" style="color: #ffffff;">Data de Nascimento</label>
                            <input
                                class="form-control"
                                id="user_born_date"
                                type="date"
                                value="{{user.born_date}}"
                                disabled
                            />
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col d-flex justify-content-center">
                        <div class="form-outline col-sm-12 col-md-12">
                            <label class="form-label d-flex justify-content-left" for="user_email" style="color: #ffffff;">CPF</label>
                            <input
                                class="form-control"
                                id="user_cpf"
                                type="text"
                                value="{{user.cpf}}"
                                disabled
                            />
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col d-flex justify-content-center">
                        <div class="form-outline col-sm-12 col-md-12">
                            <label class="form-label d-flex justify-content-left" for="user_email" style="color: #ffffff;">E-mail</label>  
                            <input
                                class="form-control"
                                id="user_email"
                                type="email"
                                value="{{user.email}}"
                                disabled
                            />
                        </div>
                    </div>
                </div>   
                <div class="row mt-1">
                    <div class="col d-flex justify-content-center">
                        <div class="form-outline col-sm-12 col-md-12">
                            <label class="form-label d-flex justify-content-left" for="user_password" style="color: #ffffff;">Senha</label>
                            <input
                                class="form-control"
                                id="user_password"
                                type="password"
                                value="{{user.password}}"
                                required
                            />
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col d-flex justify-content-center flex-wrap">
                        <div class="form-outline col-sm-6 col-md-9 d-flex justify-content-center flex-wrap">
                            <button type="button" class="btn btn-success flex-wrap"
                                style="--bs-btn-padding-y: 7px; --bs-btn-padding-x: 70px; --bs-btn-font-size: 14px;" onclick="alter_account();">
                                Alterar
                            </button>
                            <button type="button" class="btn btn-warning flex-wrap"
                                style="--bs-btn-padding-y: 7px; --bs-btn-padding-x: 70px; --bs-btn-font-size: 14px;" onclick="delete_account()">
                                Deletar
                            </button>
                            <button type="button" class="btn btn-danger flex-wrap"
                                style="--bs-btn-padding-y: 7px; --bs-btn-padding-x: 70px; --bs-btn-font-size: 14px;" id="enterButton" onclick="back_home();">
                                Sair
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>





