{% load static %}

<!DOCTYPE html>
<html lang="uk">

<head>
	<title>Акції</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<!-- <style>body{opacity: 0;}</style> -->
	<link rel="stylesheet" href="/sexshop.site-main/css/style.css">
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
</head>

<body>
	<div class="wrapper">
		<header data-scroll="120" data-scroll-show class="header">
			<div class="header__info">
				<div class="header__container">
					<div class="header__info--wrap">
						<a href="" class="header__callback"><span>Замовити дзвінок</span></a>
						<div class="header__time">з 10:00 до 21:00 без вихідних</div>
					</div>
				</div>
			</div>
			<div class="header__main">
				<div class="header__container">
					<div class="header__main--wrap">
						<div class="header__logo--wrap">
							<a href="" class="header__logo--pc">
								<img src="img/logo.svg" alt="">
							</a>
						</div>
						<div data-da=".header,767.98,3" class="header__search search">
							<form action="#" class="search__form">
								<input type="text" name="search" placeholder="Пошук за назвою продукту" class="search__input">
								<button type="submit" class="search__button _icon-search"></button>
								<button type="button" class="search__clear _icon-del"></button>
							</form>
						</div>
						<div class="header__block">
							<div data-da=".menu,991.98,2" class="header__language language">
								<div class="language__item">
									<input class="language__radio" type="radio" id="select-uk-ua" name="select_language">
									<label for="select-uk-ua">
										<button class="language__link _active">ua</button>
									</label>
								</div>
								<div class="language__item">
									<input class="language__radio" type="radio" id="select-ru" name="select_language">
									<label for="select-ru-ru">
										<button class="language__link select-ru-ru">ru</button>
									</label>
								</div>
								<div class="language__item">
									<input class="language__radio" type="radio" id="select-en-dg" name="select_language">
									<label for="select-en-dg">
										<button class="language__link select-en-dg">en</button>
									</label>
								</div>
							</div>
							<a href="" data-popup="#popup-modal" class="header__icon _icon-message"></a>
							<a href="" class="header__icon _icon-favorite-1"><span>1</span></a>
							<a data-popup="#popup-cart_empty" href="" class="header__icon _icon-cart"><span>1</span></a>
							<button type="button" class="header__button icon-menu"><span></span></button>
						</div>
					</div>
				</div>
			</div>
			<div class="header__bottom">
				<div class="header__container">
					<nav class="header__menu menu">
						<ul data-spollers="991.98,max" data-one-spoller class="menu__list">
							<li class="menu__item">
								<div class="menu__item--spollers menu-spollers">
									<details data-hover class="menu-spollers__body">
										<summary data-spoller data-spoller-close data-button class="menu-spollers__summary"><button type="button" class="menu-spollers__title _icon-arrow">Каталог</button></summary>
										<div data-list class="menu-spollers__list--body">
											<ul data-simplebar class="menu-spollers__list">
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">Кросівки та кеди</a>
												</li>
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">В'єтнамки, шльопанці та сабо</a>
												</li>
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">Чоботи</a>
												</li>
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">Мокасини</a>
												</li>
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">Уги</a>
												</li>
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">В'єтнамки, шльопанці та сабо</a>
												</li>
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">Чоботи</a>
												</li>
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">Мокасини</a>
												</li>
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">Уги</a>
												</li>
											</ul>
										</div>
									</details>
								</div>
							</li>
							<li class="menu__item">
								<div class="menu__item--spollers menu-spollers">
									<details data-hover class="menu-spollers__body">
										<summary data-spoller data-spoller-close data-button class="menu-spollers__summary"><button type="button" class="menu-spollers__title _icon-arrow">Чоловікам</button></summary>
										<div data-list class="menu-spollers__list--body">
											<ul data-simplebar class="menu-spollers__list">
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">Кросівки та кеди</a>
												</li>
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">В'єтнамки, шльопанці та сабо</a>
												</li>
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">Чоботи</a>
												</li>
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">Мокасини</a>
												</li>
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">Уги</a>
												</li>
											</ul>
										</div>
									</details>
								</div>
							</li>
							<li class="menu__item">
								<div class="menu__item--spollers menu-spollers">
									<details data-hover class="menu-spollers__body">
										<summary data-spoller data-spoller-close data-button class="menu-spollers__summary"><button type="button" class="menu-spollers__title _icon-arrow">Жінкам</button></summary>
										<div data-list class="menu-spollers__list--body">
											<ul data-simplebar class="menu-spollers__list">
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">Кросівки та кеди</a>
												</li>
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">В'єтнамки, шльопанці та сабо</a>
												</li>
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">Чоботи</a>
												</li>
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">Мокасини</a>
												</li>
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">Уги</a>
												</li>
											</ul>
										</div>
									</details>
								</div>
							</li>
							<li class="menu__item">
								<a href="" class="menu__link">Акції</a>
							</li>
							<li class="menu__item">
								<div class="menu__item--spollers menu-spollers">
									<details data-hover class="menu-spollers__body">
										<summary data-spoller data-spoller-close data-button class="menu-spollers__summary"><button type="button" class="menu-spollers__title _icon-arrow">Розмір</button></summary>
										<div data-list class="menu-spollers__list--body">
											<ul data-simplebar class="menu-spollers__list">
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">Взуття</a>
												</li>
												<li class="menu-spollers__item">
													<a href="" class="menu-spollers__link">Одяг</a>
												</li>
											</ul>
										</div>
									</details>
								</div>
							</li>
							<li class="menu__item">
								<a href="" data-popup="#modal_allow-full" class="menu__link">Доставка</a>
							</li>
							<li class="menu__item">
								<a href="" data-popup="#modal_allow" class="menu__link">Контакти</a>
							</li>
						</ul>
					</nav>
					<div class="header__socials socials">
						<div class="socials__item">
							<div class="socials__list">
								<a href="" class="socials__link">
									<span class="socials__icon _icon-mail"></span>
								</a>
								<a href="" class="socials__link">
									<span class="socials__icon _icon-viber"></span>
								</a>
								<a href="" class="socials__link">
									<span class="socials__icon _icon-telegram"></span>
								</a>
								<a href="" class="socials__link">
									<span class="socials__icon _icon-whatsapp"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main>
			<section class="breadcrumb breadcrumb--pos breadcrumb--wh">
				<div class="breadcrumb__container">
					<ul class="breadcrumb__list ">
						<li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Головна</a></li>
						<li class="breadcrumb__item"><span class="breadcrumb__active">Акції</span></li>
					</ul>
				</div>
			</section>
			<section class="promotions">
				<div class="promotions__container">
					<div class="promotions__wrapper">
						<div class="promotions__icon _icon-telegram_big"></div>
						<h1 class="promotions__title">Отримайте знижку до -30% на наступне замовлення підписавшись на наш телеграм</h1>
						<a href="" class="promotions__link--btn">Підписатись<span> на телеграм канал</span></a>
					</div>
				</div>
			</section>
			<section class="info-socials">
				<div class="info-socials__container">
					<div class="info-socials__main">
						<a href="" data-popup="#popup-modal" class="info-socials__button _icon-phone_fill"></a>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="content__container">
					<div data-simplebar class="content__wrapper">
						<div class="content__body">
							<p><strong>Завітайте до нашого магазину брендових кросівок та модного одягу:</strong></p>
							<p>Ласкаво запрошуємо до нашого високоякісного магазину, де ви знайдете найновіші колекції брендових кросівок та стильного одягу. Ми прагнемо задовольнити потреби навіть найвибагливіших покупців, пропонуючи широкий вибір моделей і стилів, щоб ви могли створити ідеальний образ для будь-якої ситуації. У нас ви зможете знайти кросівки від найвідоміших брендів, які поєднують в собі останні тренди моди та комфорт. Незалежно від того, чи шукаєте ви кросівки для активного спорту, повсякденного використання чи стильних моделей для вечірнього виходу, у нас ви знайдете саме те, що потрібно. Крім того, наш магазин пропонує розмаїтий вибір модного одягу від провідних дизайнерів. Ви зможете оновити свій гардероб стильними футболками, світшотами, штанами, куртками та аксесуарами, що доповнять ваш образ і підкреслять вашу унікальність.</p>
							<p>Ласкаво запрошуємо до нашого високоякісного магазину, де ви знайдете найновіші колекції брендових кросівок та стильного одягу. Ми прагнемо задовольнити потреби навіть найвибагливіших покупців, пропонуючи широкий вибір моделей і стилів, щоб ви могли створити ідеальний образ для будь-якої ситуації. У нас ви зможете знайти кросівки від найвідоміших брендів, які поєднують в собі останні тренди моди та комфорт. Незалежно від того, чи шукаєте ви кросівки для активного спорту, повсякденного використання чи стильних моделей для вечірнього виходу, у нас ви знайдете саме те, що потрібно. Крім того, наш магазин пропонує розмаїтий вибір модного одягу від провідних дизайнерів. Ви зможете оновити свій гардероб стильними футболками, світшотами, штанами, куртками та аксесуарами, що доповнять ваш образ і підкреслять вашу унікальність.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="block-info">
				<div class="block-info__container">
					<div class="block-info__wrapper">
						<div class="block-info__content">
							<div class="block-info__time">працюємо з 10:00 до 21:00 без вихідних</div>
							<h2 class="block-info__title">Маєте питання? <br>Звʼяжіться з нами</h2>
						</div>
						<a href="" class="block-info__link _icon-arrow_btn"></a>
					</div>
				</div>
			</section>
		</main>
		<footer class="footer">
			<div class="footer__container">
				<div class="footer__wrapper">
					<a href="" data-da=".footer__block,767.98,1" class="footer__logo">
						<img src="img/logo.svg" alt="">
					</a>
					<div class="footer__block">
						<nav class="footer__nav">
							<div class="footer__column">
								<div class="footer__title">придбати</div>
								<ul class="footer__list">
									<li class="footer__item">
										<a href="" class="footer__link">каталог</a>
									</li>
									<li class="footer__item">
										<a href="" class="footer__link">Жінкам</a>
									</li>
									<li class="footer__item">
										<a href="" class="footer__link">Чоловікам</a>
									</li>
									<li class="footer__item">
										<a href="" class="footer__link">каталог</a>
									</li>
								</ul>
							</div>
							<div class="footer__column">
								<div class="footer__title">користовачу</div>
								<ul class="footer__list">
									<li class="footer__item">
										<a href="" class="footer__link">оплата та доставка</a>
									</li>
									<li class="footer__item">
										<a href="" class="footer__link">визначити розмір</a>
									</li>
									<li class="footer__item">
										<a href="" class="footer__link">Контакти</a>
									</li>
								</ul>
							</div>
							<div class="footer__column footer__column--social">
								<div class="footer__wrap">
									<div class="footer__title">звʼяжіться з нами</div>
									<ul class="footer__list">
										<li class="footer__item">
											<a href="" class="footer__link _icon-telegram">telegram</a>
										</li>
										<li class="footer__item">
											<a href="" class="footer__link _icon-whatsapp_mod2">Whats App</a>
										</li>
										<li class="footer__item">
											<a href="" class="footer__link _icon-viber_mod2">viber</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="footer__column footer__column--social">
								<div class="footer__title">соц мережі</div>
								<ul class="footer__list">
									<li class="footer__item">
										<a href="" class="footer__link _icon-instagram">instagram</a>
									</li>
									<li class="footer__item">
										<a href="" class="footer__link _icon-youtube_mod2">youtube</a>
									</li>
									<li class="footer__item">
										<a href="" class="footer__link _icon-tiktok">tiktok</a>
									</li>
									<li class="footer__item">
										<a href="" class="footer__link _icon-facebook">Facebook</a>
									</li>
								</ul>
							</div>
						</nav>
						<div data-da=".footer__nav,991.98,2" class="footer__wrap">
							<div data-da=".footer__block,767.98,1" class="footer__mail--wrap">
								<div class="footer__title footer__mail--title">EMAIL</div>
								<a href="mailto:Rezina@gmail.com" class="footer__link--mail">sexshop@gmail.com</a>
							</div>
						</div>
						<div class="footer__info">
							<div class="footer__info--text">Товари еротичного характеру не підлягають поверненню та обміну</div>
							<div class="footer__info--text">Перегляд представлених матеріалів дозволений особам старше 18 років</div>
							<div class="footer__info--text">Товари приходять анонімно, ретельно запаковані — ніхто й не здогадається!</div>
						</div>
						<div class="footer__bottom">Студія з розробки сайтів і налаштування реклами — <span>nashe.agency</span></div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div id="popup-modal" aria-hidden="true" class="popup">
		<div class="popup__wrapper">
			<div class="popup__content popup__content--modal">
				<button data-close type="button" class="popup__close _icon-del"></button>
				<div class="popup__callback callback-popup">
					<div class="callback-popup__icon _icon-phone-1"></div>
					<h4 class="callback-popup__title">Залиште свій номер телефону і наш консультант звʼяжеться з вами</h4>
					<form action="" class="callback-popup__form form">
						<div class="form__list">
							<div class="form__data">
								<div class="form__label">Номер телефону</div>
								<input data-error="Поле є обовʼязковим для заповнення" type="tel" name="phone" data-required="phone" data-validate placeholder="+38 (0__) ___-__-__*" class="form__input phone-mask">
							</div>
						</div>
						<div class="form__wrap">
							<div class="form__subtitle">Оберіть месенджер для зв’язку</div>
							<div class="form__row">
								<div class="form__radio">
									<input id="messenger-viber" type="radio" name="messenger" class="form__radio--input">
									<label for="messenger-viber" class="form__radio--label socials__link">
										<span class="socials__icon _icon-viber_mod"></span>
										<span class="socials__text">viber</span>
									</label>
								</div>
								<div class="form__radio">
									<input id="messenger-telegram" type="radio" name="messenger" class="form__radio--input">
									<label for="messenger-telegram" class="form__radio--label socials__link">
										<span class="socials__icon _icon-telegram_mod"></span>
										<span class="socials__text">telegram</span>
									</label>
								</div>
								<div class="form__radio">
									<input id="messenger-whatsapp" type="radio" name="messenger" class="form__radio--input">
									<label for="messenger-whatsapp" class="form__radio--label socials__link">
										<span class="socials__icon _icon-whatsapp_mod"></span>
										<span class="socials__text">WhatsApp</span>
									</label>
								</div>
							</div>
						</div>
						<button type="submit" class="form__sent--btn">надіслати</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="popup-quick-order" aria-hidden="true" class="popup popup--quick_order">
		<div class="popup__wrapper">
			<div class="popup__content popup__content--quick_order">
				<div class="popup__row">
					<div class="popup__title">Швидка покупка</div>
					<button data-close type="button" class="popup__close _icon-del"></button>
				</div>
				<div class="popup__quick-order quick-order">
					<div class="quick-order__body">
						<div class="quick-order__block">
							<div class="quick-order__slider swiper">
								<div class="quick-order__wrapper swiper-wrapper">
									<div class="quick-order__slide swiper-slide lazy_image">
										<picture><source data-srcset="img/models/models_001.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_001.png" alt=""></picture>
									</div>
									<div class="quick-order__slide swiper-slide lazy_image">
										<picture><source data-srcset="img/models/models_002.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_002.png" alt=""></picture>
									</div>
									<div class="quick-order__slide swiper-slide lazy_image">
										<picture><source data-srcset="img/models/models_003.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_003.png" alt=""></picture>
									</div>
									<div class="quick-order__slide swiper-slide lazy_image">
										<picture><source data-srcset="img/models/models_004.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_004.png" alt=""></picture>
									</div>
									<div class="quick-order__slide swiper-slide lazy_image">
										<picture><source data-srcset="img/models/models_005.webp" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" type="image/webp"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  data-src="img/models/models_005.png" alt=""></picture>
									</div>
								</div>
								<div class="quick-order__nav">
									<button type="button" class="quick-order__swiper-button quick-order__swiper-button-prev _icon-arrow"></button>
									<div class="quick-order__fraction">
										<span class="quick-order__fraction--current"></span>/<span class="quick-order__fraction--all"></span>
									</div>
									<button type="button" class="quick-order__swiper-button quick-order__swiper-button-next _icon-arrow"></button>
								</div>
							</div>
						</div>
						<div class="quick-order__content">
							<h3 class="quick-order__title">Вібромасажер LELO Smart Wand 2 Large</h3>
							<div class="quick-order__copy product__copy">
								<div class="product__code--wrap">
									<div class="product__code--text">Код:</div>
									<div class="product__code"> S-2350135</div>
								</div>
								<button type="button" class="product__icon _icon-copy"></button>
							</div>
							<div class="quick-order__price product__price--wrap">
								<div class="product__row">
									<div class="product__price--old">4383 грн</div>
									<div class="product__price">3279 грн</div>
								</div>
							</div>
						</div>
					</div>
					<div class="quick-order__bottom">
						<form action="" class="quick-order__form form">
							<div class="form__list">
								<div class="form__data">
									<div class="form__label">Номер телефону</div>
									<input data-error="Поле є обовʼязковим для заповнення" type="tel" name="phone" data-required="phone" data-validate placeholder="+38 (0__) ___-__-__*" class="form__input phone-mask">
								</div>
							</div>
							<div class="form__buttons">
								<button type="submit" class="form__sent--btn_wh">Придбати без дзвінка</button>
								<button type="submit" class="form__sent--btn">Придбати</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="popup-cart_empty" aria-hidden="true" class="popup popup--cart">
		<div class="popup__wrapper--cart">
			<div class="popup__content popup__content--cart">
				<div class="popup__cart cart-popup">
					<div class="cart-popup__body">
						<div class="cart-popup__top">
							<div class="cart-popup__title">Кошик</div>
							<button data-close type="button" class="popup__close _icon-del"></button>
						</div>
						<div class="cart-popup__text">Ваш кошик порожній</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/app.min.js?_v=20240927221152"></script>
</body>

</html>