{% load static %}

<body>
	<div class="wrapper">
		<main>
			<section class="promotions">
				<div class="promotions__container">
					<div class="promotions__wrapper">
						<h1 class="promotions__title">Ganhe um desconto de até 30% no seu próximo pedido assinando nosso telegrama</h1>
						<a href="" class="promotions__link--btn">Inscreva-se<span> no canal Telegram</span></a>
					</div>
				</div>
			</section>
			<section class="info-socials">
				<div class="info-socials__container">
					<div class="info-socials__main">
						<a href="" data-popup="#popup-modal" class="info-socials__button _icon-phone_fill"></a>
					</div>
				</div>
			</section>
		</main>
	</div>
</body>