{% load static %}

<header data-scroll="120" data-scroll-show class="header">
    <div class="header__main">
        <div class="header__container">
            <div class="header__main--wrap">
                <div class="header__logo--wrap">
                    <a href="" class="header__logo--pc">
                        <img src="{% static 'images/utils/logo.png' %}" alt="" style="max-width: 100px">
                    </a>
                </div>
                <div data-da=".header,767.98,3" class="header__search search">
                    <form action="#" class="search__form">
                        <input type="text" name="search" placeholder="Pesquise" class="search__input">
                        <button type="submit" class="search__button _icon-search"></button>
                        <button type="button" class="search__clear _icon-del"></button>
                    </form>
                </div>
                <div class="header__block">
                    <a href="" class="header__icon">
                        <img src="{% static 'images/icons/cart_01.svg' %}" alt="">
                    </a>
                    <a href="" class="header__icon">
                        <img src="{% static 'images/icons/user_4.svg' %}" alt="" style="color: white; max-width: 20px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="header__container">
            <nav class="header__menu menu">
                <ul data-spollers="991.98,max" data-one-spoller class="menu__list">
                    <li class="menu__item">
                        <a href="{% url 'src.apps.home.dash:catalog-dash' %}" class="menu__link">Catalogo</a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link">Comentarios</a>
                    </li>
                </ul>
            </nav>
            <div class="header__socials socials">
                <div class="socials__item">
                    <div class="socials__list">
                        <a href="" class="socials__link">
                            <span class="socials__icon _icon-mail"></span>
                        </a>
                        <a href="" class="socials__link">
                            <span class="socials__icon _icon-viber"></span>
                        </a>
                        <a href="" class="socials__link">
                            <span class="socials__icon _icon-telegram"></span>
                        </a>
                        <a href="" class="socials__link">
                            <span class="socials__icon _icon-whatsapp"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>