{% load static %}

<div class="wrapper">
    <main>
        <section class="main">
            <div class="main__container">
                <div class="main__wrapper">
                    <div class="main__content">
                        <h1 class="main__title"> Prazer, conforto e discrição em cada compra!</h1>
                        <a href="" class="main__link--btn">Confira Tudo!</a>
                    </div>
                    <div class="main__image">
                        <picture>
                            <img src="{% static 'images/utils/logo.png' %}" alt="" style="max-width: 991.98px">
                        </picture>
                    </div>
                </div>
                <div class="main__bg--wrap">
                    <div class="main__bg--left">
                        <img src="{% static 'images/background/bg_01.svg' %}" alt="">
                    </div>
                    <div class="main__bg--right">
                        <img src="{% static 'images/background/bg_02.svg' %}" alt="">
                    </div>
                    <div class="main__bg--mob">
                        <img src="{% static 'images/background/bg_03.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="about">
            <div class="about__container">
                <div class="about__top">
                    <a href="" class="about__item">
                        <div class="about__image">
                            <img src="{% static 'images/about/about_01.jpg' %}" alt="">
                        </div>
                        <div class="about__link--btn_wh">Acessorios</div>
                    </a>
                    <a href="" class="about__item">
                        <div class="about__image">
                            <img src="{% static 'images/about/about_02.jpg' %}" alt="">
                        </div>
                        <div class="about__link--btn_wh">Brinquedos</div>
                    </a>
                    <a href="" class="about__item">
                        <div class="about__image">
                            <img src="{% static 'images/about/about_03.jpg' %}" alt="">
                        </div>
                        <div class="about__link--btn_wh">Fetiche</div>
                    </a>
                </div>
                <a href="" class="about__main about__main--more">
                    <div class="about__content">
                        <h2 class="about__title" style="color: black;">Explore e encontre aquele produto que combina com você! 💖</h2>
                        <div class="about__more--btn_wh">Verificar</div>
                    </div>
                    <div class="about__image">
                        <img src="{% static 'images/about/about_04.jpg' %}" alt="">
                    </div>
                </a>
            </div>
        </section>
        <section class="content">
            <div class="content__container">
                <div data-simplebar class="content__wrapper">
                    <div class="content__body">
                        <p><strong>Nocturna - Elegância e Discrição no Universo Íntimo:</strong></p>
                        <p>Bem-vindo(a) à Nocturna, uma marca dedicada a proporcionar uma experiência sofisticada, discreta e segura no universo dos produtos íntimos. Nossa missão é oferecer uma seleção cuidadosamente curada, com foco na qualidade e no bem-estar dos nossos clientes. Com uma plataforma intuitiva e moderna, garantimos uma navegação sem complicações, priorizando sempre a privacidade e a segurança.</p>
                        <p>Na Nocturna, entendemos a importância de uma experiência de compra confidencial. Por isso, todos os nossos produtos são entregues em embalagens discretas, sem identificação externa, garantindo que você receba suas compras com total descrição e conforto. Nossa presença física em Ourinhos complementa nosso e-commerce, oferecendo um atendimento personalizado e um espaço seguro para você explorar os produtos com tranquilidade.

                            Privacidade, Confiança e Sofisticação: esses são os pilares que sustentam a Nocturna. Explore nossa seleção e descubra como podemos tornar seus momentos mais especiais..</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="block-info">
            <div class="block-info__container">
                <div class="block-info__wrapper">
                    <div class="block-info__content">
                        <div class="block-info__time">Suporte das 10:00 a 21:00 </div>
                        <h2 class="block-info__title"> Precisa de ajuda?  <br>Fale conosco pelo WhatsApp</h2>
                    </div>
                    <a href="" class=""></a>
                    <div class="">
                        <img src="{% static 'images/icons/whatsapp_black.svg' %}" alt="" class="block-info__link _icon-arrow_btn">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__container">
            <div class="footer__wrapper">
                <a href="" data-da=".footer__block,767.98,1" class="footer__logo">
                    <img src="{% static 'images/utils/logo.png' %}" alt="">
                </a>
                <div class="footer__block">
                    <nav class="footer__nav">
                        <div class="footer__column">
                            <div class="footer__title">Prazer, Nocturna</div>
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="" class="footer__link">Surpreenda-se</a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">Momentos Inesquecíveis</a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">Aventuras Compartilhadas</a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">Autenticidade </a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer__column">
                            <div class="footer__title">Discrição em Primeiro Lugar</div>
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="" class="footer__link">Atendimento Exclusivo</a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">Navegue com Segurança</a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link">Entrega Rápida e Sigilosa</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer__column footer__column--social">
                            <div class="footer__wrap">
                                <div class="footer__title">Suporte</div>
                                <ul class="footer__list">
                                    <li class="footer__item">
                                        <a href="" class="footer__link _icon-telegram">telegram</a>
                                    </li>
                                    <li class="footer__item">
                                        <a href="" class="footer__link _icon-whatsapp_mod2">Whats App</a>
                                    </li>
                                    <li class="footer__item">
                                        <a href="" class="footer__link _icon-viber_mod2">viber</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer__column footer__column--social">
                            <div class="footer__title">Redes Socias</div>
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="" class="footer__link _icon-instagram">instagram</a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link _icon-youtube_mod2">youtube</a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link _icon-tiktok">tiktok</a>
                                </li>
                                <li class="footer__item">
                                    <a href="" class="footer__link _icon-facebook">Facebook</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div data-da=".footer__nav,991.98,2" class="footer__wrap">
                        <div data-da=".footer__block,767.98,1" class="footer__mail--wrap">
                            <div class="footer__title footer__mail--title">EMAIL</div>
                            <a href="mailto:Rezina@gmail.com" class="footer__link--mail">Nocturnasexshop@gmail.com</a>
                        </div>
                    </div>
                    <div class="footer__info">
                        <div class="footer__info--text">Produtos ideais para quem busca novas aventuras sozinho ou a dois.</div>
                        <div class="footer__info--text">Receba seus produtos em casa, de forma rápida e sem identificação.</div>
                        <div class="footer__info--text">Suas informações de pagamento são protegidas e sigilosas</div>
                    </div>
                    <div class="footer__bottom">Segurança e Privacidade Garantidas - Encontre confiança em cada escolha — <span>Nocturna.agency</span></div>
                </div>
            </div>
        </div>
    </footer>
</div>