{% load static %}

<body>
	<div class="wrapper">
		<main>
			<section class="page-success">
				<div class="page-success__container">
					<div class="page-success__wrapper">
						<div class="page-success__content">
							<div class="page-success__top">
								<h1 class="page-success__title">Seu pedido foi realizado com sucesso</h1>
								<a href="" class="page-success__link">Acompanhe o status do pedido pelo número TTN</a>
							</div>
							<div class="page-success__bottom">
								<div class="page-success__text">
									<p>Ganhe um desconto de até <span>-40%</span> no seu próximo pedido assinando nosso canal Telegram</p>
								</div>
								<div class="page-success__block">
									<a href="" class="page-success__sub--btn">Inscreva-se no canal Telegram</a>
									<div class="page-success__icon"></div>
								</div>
							</div>
						</div>
						<div class="page-success__image">
							<picture><source srcset="img/main/main-page_success.webp" type="image/webp"><img src="img/main/main-page_success.png" alt=""></picture>
						</div>
					</div>
					<div class="page-success__inner">
						<div class="page-success__bg page-success__bg--cart"></div>
						<div class="page-success__bg page-success__bg--delivery"></div>
						<div class="page-success__bg page-success__bg--delivery_sm"></div>
					</div>
				</div>
			</section>
			<section class="info-socials">
				<div class="info-socials__container">
					<div class="info-socials__main">
						<a href="" data-popup="#popup-modal" class="info-socials__button _icon-phone_fill"></a>
					</div>
				</div>
			</section>
		</main>
	</div>
</body>

</html>